*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    height: 120px;
    width: 100%;
    
}

.searchbar{
    height: 60px;
    width: 100%;
    display: grid;
    place-content: center;
}

.searchbar input{
    height: 30px;
    padding: 10px;
    width: 300px;
    border-radius: 40px;
    border: none;
}
.main{
    display: flex;
}

.left{
    height: 808px;
    width: 60%;
    background-color: green;
}

.rigth{
    height: 808px;
    width: 40%;
    background-color: pink;
}

nav{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 60px;
    gap: 100px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo p{
    font-size: 30px;
    font-family: Verdana;
    font-weight: bold;
}

.links{
    display: flex;
    gap: 150px;
}

.links a{
    text-decoration: none;
    font-size: 24px;
    font-family: Helvetica;
    color: black;
}

