*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    height: 120px;
    width: 100%;
    
}

.searchbar{
    height: 60px;
    width: 100%;
    display: grid;
    place-content: center;
}

.searchbar input{
    height: 30px;
    padding: 10px;
    width: 300px;
    border-radius: 40px;
    border: none;
}
.main{
    display: flex;
}

.left{
    height: 808px;
    width: 55%;
}

.rigth{
    height: 808px;
    width: 45%;
}

nav{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 60px;
    gap: 100px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo p{
    font-size: 30px;
    font-family:  Tahoma;
    font-weight: bold;
}

.links{
    display: flex;
    gap: 200px;
}

.links a{
    text-decoration: none;
    font-size: 24px;
    font-family: Helvetica;
    color: black;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 150px;
    gap: 40px;
}

.title{
    display: flex;
    flex-direction: column;
}

.title h1{
    font-size: 150px;
    font-family: Tahoma;
}

.title h2{
    font-size: 120px;
    font-family: Tahoma;
    font-weight: 100;
    font-style: italic;
    margin-top: -20px;
}

.line{
    height: 6px;
    width: 410px;
    background-color: black;
}

.price h1{
    font-size: 60px;
    font-family: Tahoma; 
}

.desc{
    width: 700px;
}

.desc p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.CTA{
    display: flex;
    gap: 30px;
    align-items: center;
}

.CTA button{
    height: auto;
    width: auto;
    font-size: 36px;
    font-weight: 400;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    background-color: #0b421a;
    border: none;
    color: antiquewhite;
    box-shadow: 5px 5px 10px #202020a1;
}

.CTA a{
    font-size: 32px;
    font-family: Tahoma;
    text-decoration: none;
    color: black;
}

.rigth{
    position: relative;
}

.right .product{
    margin-left: 70px;
    transform: scale(1.2);
    z-index: 2;
    position: relative;
}

body{
    background-color: #c0d1bb;
}

.right .blob{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}



















